body {
  font-size: 1.2em;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

li[ui-sref]:hover {
  /*display: inline-block;*/
  cursor: pointer;
  background-color : deepskyblue;
  /*border: solid black 1px;*/
  /*padding-left: 5px;
  padding-right: 5px;*/
}
table{
    width : inherit;
}
td.first{
    width:60%
}
td.other{
    width:20%;
    text-align:right;
}
h5{
    margin: 5px;
    margin-left:0;
}

table.hover:hover{
  background-color : deepskyblue;
}